<div class="container">
  <div class="row">
    <div class="col-sm-6 my-1">
      <app-gamecontrol (gameStart)="onGameStarted($event)" (gameReset)="onGameReset($event)"></app-gamecontrol>
    </div>
    <div class="col-sm-6 my-1">
      <app-score [score]="userScore"></app-score>
    </div>
    <div class="col-sm-12 my-1" style="height: 200px;">
      <app-hud [message]="message"
      [isGameRunning]="isGameRunning"></app-hud>
    </div>
    <div class="col-sm-4">
      <app-even [gameRunning]="isGameRunning"
      [isClickable]="isClickable"
      (answerEven)="onAnswerEven($event)"></app-even>
      <div *ngFor="let element of userAnswers">
        <app-answer *ngIf="element.userAnswer==='Even'"  [userAnswer]="element">
  
        </app-answer>
        </div>
    </div>
    <div class="col-sm-4 ">
      <app-odd [gameRunning]="isGameRunning"
       [randomNumber]="randomNumber"
       [isClickable]="isClickable"
       (answerOdd)="onAnswerOdd($event)"></app-odd>
       <div *ngFor="let element of userAnswers">
        <app-answer *ngIf="element.userAnswer==='Odd'"  [userAnswer]="element">
  
        </app-answer>
        </div>
    </div>
    <div class="col-sm-4 ">
      <app-prime [gameRunning]="isGameRunning"
      [isClickable]="isClickable"
      (answerPrime)="onAnswerPrime($event)"></app-prime>
      <div *ngFor="let element of userAnswers">
      <app-answer *ngIf="element.userAnswer==='Prime'"  [userAnswer]="element">

      </app-answer>
      </div>
    </div>

  </div>
</div>  